.contact-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    border: 1px solid white;
    box-sizing: border-box;
    transform: translateY(-5px);
    height: 300px;
  }
  
  .contact-info {
    position: relative;
    margin-bottom: 20px;
  }
  
  .contact-info input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
  }
  
  .clear {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(51, 255, 0, 0.616);
    color: black;
    padding: 4px;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  #save {
    background-color: #001aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 170px;
    margin-top: 50px;
  }
  
  #delete {
    background-color: #001aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: -85px;
  }
  