.outer-container {
  position: relative; 
  padding: 2px; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  background-color: inherit;
  border: 1px solid black;


  &::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: black; 
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(238, 233, 158);
  min-height: 100vh;
  margin-bottom: -190px; 
}


.header-app {
  color: #333;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  text-align: center;
}

.header-app h1 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 110%;
  padding: 30px;
  box-sizing: border-box;
}

.main .list-container {
  padding-bottom: 50px;
  margin-right: 20px;
}

.main .form-container {
  margin-left: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
  transform: translateY(-5px);
  height: 300px;
}
